.tooltip-bg{ 
    fill: white;
    /* stroke: rgb(174,174,174); */
    opacity: 0.9;
    pointer-events: none;
}
.tooltip {
    pointer-events: none;
}
.tooltip-text { 
    font-size: 10px;
    pointer-events: none;
}
.grid > line{
        stroke: #a6a6a6;    
}
.grid > text{
    text-anchor: middle;
    fill: #a6a6a6;   
}
.rect {
    stroke-width: 2px;
   
}